/* добавляю новый шрифт */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Jost', sans-serif;
}

/*---------------------------главная страница----------------------------------*/
/* меню для главной страницы */
.main-menu {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* видеофон на главной странице */
.vidBG {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* хедер для главной страницы */
.header,
.main-menu-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* тайтл GASPAR NOE */
.title {
    font-weight: 900;
    font-size: 8vw;
    line-height: 90%;
    text-align: center;
    color: rgb(255, 238, 0);

    user-select: none;
    z-index: 2;
}

/*---------------------------хедер----------------------------------*/
/* основной хедер */
.header {
    position: absolute;
    left: 50%;
    top: 0;
    padding-top: 8%;
    transform: translate(-50%, -50%);
    z-index: 2;
    flex-direction: column;
    align-items: center;
}

/* контент хедера (меню) */
.header_content,
.main-header-content {
    display: flex;
    gap: 2vw;
}

.header_content li,
.main-header-content li {
    list-style-type: none;
}

.header_content a,
.main-header-content a {
    font-weight: 500;
    font-size: 2vw;
    color: rgb(255, 238, 0);

    cursor: pointer;
    user-select: none;
    text-decoration: none;
    vertical-align: middle;
}

.header_content a:hover,
.main-header-content a:hover {
    color: rgb(255, 153, 0);
    transition: all ease .2s;
}

/*---------------------------блоки----------------------------------*/
/* контейнер для текста статьи */
.block {
    display: flex;
    flex-direction: column;
    padding: 0% 10%;

    /* height: fit-content; */
    overflow: hidden;
}

/* фуллскрин блок */
.mainBlock {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* настройки для картинки в фуллскрин блоке */
.mainBlock img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* фон для страницы с фильмами */
.films-bg {
    background: url(../img/climax/climax.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    transition: all 0.5s ease;
}

/* анимация смены картинок */
.films-bg-anim {
    transform: scale(1.02);
    filter: blur(4px);
}

/* список фильмов для страницы выбора фильмов */
.filmList {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: left;
    list-style: none;
}

/* стиль для ссылок на фильмы */
.filmList a {
    font-weight: 700;
    font-size: 4vw;
    color: yellow;
    text-align: left;

    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

/*---------------------------футер----------------------------------*/
/* футер */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0%;
    margin-top: 1%;
    background-image: linear-gradient(to top, rgb(14, 14, 14), black)
}

/* ряд футера */
.footer-item {
    display: flex;
    justify-content: center;
    padding: .8% 0%;
}

/* разрывы между ячейками футера */
#footer-films {
    gap: 5vw;
}

#footer-socials {
    gap: 2vw;
}

.footer-item li {
    list-style-type: none;
}

/* стиль для текста футера */
.footer-item a {
    color: aliceblue;
    font-size: 1vw;

    list-style-type: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.footer-item a:hover {
    color: yellow;
    transition: all ease .2s;
}

/* стиль иконок */
.icon {
    max-width: 2vw;
    max-height: 2vw;
    fill: #ffffff;
}

.icon:hover {
    fill: yellow;
    transition: all ease .2s;
}

/*---------------------------текст----------------------------------*/
.img-title,
.synopsis,
h1 {
    color: yellow;
    text-align: center;
    user-select: none;
}

/* текст на картинке */
.img-title {
    font-weight: 900;
    font-size: 10vw;

    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* стиль для синопсиса */
.synopsis {
    padding: 1% 0%;
    font-weight: 700;
    font-size: 2.4vw;
}

/* стиль для основного текста */
.main-text {
    font-weight: 400;
    color: aliceblue;
    font-size: 1.8vw;
    text-indent: 5vw;
    text-align: justify;
}

/* стиль для ссылок в основном тексте */
.main-text a {
    text-decoration: none;
    color: yellow;
    font-weight: 700;
}

/* контейнер для текста с картинкой */
.pic-text {
    display: flex;
    flex-direction: row;
    padding: 1% 10%;
    overflow: hidden;
    flex: 50%;
}

/* ячейка для блока */
.pic-text-item {
    flex: 0 0 50%;
    margin-left: 3%;
}

/* стиль для картинки в ячейке */
.pic-text img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* убираю отступ для блока картинка+текст */
#pictext {
    text-indent: 0vw;
}

/* контейнер для цитаты */
.quote {
    color: aliceblue;
    padding: 1% 0%;
}

/* полоска для цитаты */
.quote-border {
    border-left: .5vw solid aliceblue;
}

/* текст цитаты */
.quote-text {
    margin-left: 1.5%;
    font-weight: 700;
    font-size: 2.3vw;
    text-align: justify;
}

/* стиль для заголовка */
h1 {
    font-size: 8vw;
}

/*---------------------------слайдер----------------------------------*/
/* контейнер для слайдера */
.slider {
    max-width: 80%;
    margin: 2% 10%;
    overflow: hidden;
    position: relative;
}

.slider img {
    object-fit: contain;
}

/* линия со слайдами */
.all-slides {
    display: flex;
    transition: all ease 1s;
}

/* кнопки слайдера */
.slider-next,
.slider-prev {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-weight: 800;
    color: white;
    font-size: 5vw;
    cursor: pointer;
}

.slider-next {
    right: 0;
    user-select: none;
}

.slider-prev {
    left: 2%;
    user-select: none;
}

/*---------------------------видео с ютуба----------------------------------*/
/* контейнер для видео с ютуба */
.yt-video-container {
    margin: 1% 10%;
}

.yt-video {
    position: relative;
    padding: 0% 0% 50% 0%;
}

.yt-video iframe {
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*---------------------------галерея----------------------------------*/
/* контейнер для галереи */
.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

/* ячейка галереи */
.gallery-item {
    position: relative;
    height: 20vw;
    overflow: hidden;
    flex: 25%;
}

/* стиль картинки в ячейке */
.gallery-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all ease .5s;
}

.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 1;
}

/* прозрачный черный фон при наведении */
.gallery-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.432);
    color: #ffffff;
    font-size: 2vw;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .5s ease;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.gallery-item:hover .gallery-item-hover {
    opacity: 1;
}

/*---------------------------попап для галереи----------------------------------*/
/* попап с картинкой, поле для попапа */
.popup-field {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: all ease .2s;
    z-index: 3;
}

/* тело попапа */
.popup-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* контент попапа */
.popup-content {
    position: relative;
    color: black;
    max-width: 75vw;
    max-height: 50vw;
}

/* стиль картинки в попапе */
.popup-content img {
    max-width: 100%;
    object-fit: cover;
    user-select: none;
}

/* кнопка закрытия */
.popup-close-btn {
    position: absolute;
    top: 1%;
    right: 1%;

    color: #ffffff;
    font-size: 2vw;
    font-weight: 400;

    cursor: pointer;
    user-select: none;
}

/*---------------------------бургер меню----------------------------------*/
/* кнопка для бургер меню */
.burger-btn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 7vw;
    height: 5vw;
    z-index: 2;
    cursor: pointer;
}

/* три полоски */
.burger-btn span {
    position: absolute;
    top: 45%;
    width: 100%;
    background-color: yellow;
    opacity: 1;
    visibility: visible;
}

.burger-btn::before,
.burger-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: yellow;
    transition: all ease .5s;
}

.burger-btn::before,
.burger-btn::after,
.burger-btn span {
    height: 1vw;
}

.burger-btn::before {
    top: 0;
}

.burger-btn::after {
    bottom: 0;
}

/* фон для бургер меню */
.burger-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all ease .2s;
    z-index: 1;
}

.scroll-disable {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

/* стиль для активированного бургер меню, делает его видимым */
.burger-bg.active {
    opacity: 1;
    visibility: visible;
}

.header_content.active {
    opacity: 1;
    visibility: visible;
}

/* анимация крестика */
.burger-btn.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger-btn.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, -50%);
}

.burger-btn.active span {
    opacity: 0;
    visibility: hidden;
}

/*---------------------------медиа-запросы----------------------------------*/
/* до 480рх */
@media (max-width: 480px) and (orientation: portrait) {
    .burger-btn {
        width: 25vw;
        height: 20vw;
        margin-top: 110%;
    }

    .burger-btn::after,
    .burger-btn::before,
    .burger-btn span {
        height: 2vw;
    }

    .header_content a,
    .main-header-content a {
        font-size: 8vw;
    }

    .main-header-content {
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 20vw;
    }

    #films-header {
        top: 0;
        left: 0;
        padding-left: 30%;
    }

    #films-header-content a {
        font-size: 10vw;
    }

    .filmList a {
        font-size: 11vw;
    }

    #films-header-content {
        align-items: self-start;
        padding-left: 25%;
    }

    .main-text {
        font-size: 5vw;
    }

    .synopsis {
        font-size: 6vw;
    }

    .quote-text {
        font-size: 6vw;
    }

    .pic-text {
        flex-direction: column;
    }

    .pic-text-item {
        margin-left: 0;
        margin-top: 2%;
    }

    .popup-close-btn {
        font-size: 8vw;
        right: 3%;
        top: 0%;
    }

    .slider-next,
    .slider-prev {
        font-size: 12vw;
    }

    .slider-prev{
        left: 6%;
    }

    .footer-item a {
        font-size: 6vw;
    }

    #footer-films {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-socials {
        padding-top: 5%;
        gap: 7vw;
    }

    .icon {
        max-width: 10vw;
        max-height: 10vw;
    }
}

/* до 576рх */
@media (min-width: 481px) and (max-width: 576px) and (orientation: portrait) {
    .burger-btn {
        width: 20vw;
        height: 16vw;
        margin-top: 85%;
    }

    .burger-btn::after,
    .burger-btn::before,
    .burger-btn span {
        height: 2vw;
    }

    .header_content a,
    .main-header-content a {
        font-size: 8vw;
    }

    .main-header-content {
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 20vw;
    }

    #films-header {
        top: 0;
        left: 0;
        padding-left: 30%;
    }

    #films-header-content {
        align-items: self-start;
        padding-left: 25%;
    }

    #films-header-content a {
        font-size: 8vw;
    }

    h1 {
        font-size: 10vw;
    }

    .filmList a {
        font-size: 8.5vw;
    }

    .main-text {
        font-size: 3.5vw;
    }

    .synopsis {
        font-size: 4.5vw;
    }

    .quote-text {
        font-size: 4vw;
    }

    .popup-close-btn {
        font-size: 8vw;
        right: 3%;
        top: 0%;
    }

    .slider-next,
    .slider-prev {
        font-size: 12vw;
    }

    .slider-prev{
        left: 6%;
    }

    .footer-item a {
        font-size: 5vw;
    }

    #footer-films {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-socials {
        padding-top: 5%;
    }

    .icon {
        max-width: 8vw;
        max-height: 8vw;
    }
}

/* до 768рх */
@media (min-width: 577px) and (max-width: 768px) and (orientation: portrait) {
    .burger-btn {
        width: 12vw;
        height: 10vw;
        margin-top: 70%;
    }

    .header_content a,
    .main-header-content a {
        font-size: 7vw;
    }

    .main-header-content {
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 10vw;
    }

    #films-header {
        top: 0;
        left: 0;
        padding-left: 23%;
        /* padding-top: 70%; */
    }

    #films-header-content {
        align-items: self-start;
        padding-left: 25%;
    }

    .main-text {
        font-size: 3.5vw;
    }

    .synopsis {
        font-size: 4.3vw;
    }

    .quote-text {
        font-size: 4vw;
    }

    .popup-close-btn {
        font-size: 6vw;
        right: 3%;
        top: 0%;
    }

    .slider-next,
    .slider-prev {
        font-size: 9vw;
    }

    .slider-prev{
        left: 4%;
    }

    .footer-item a {
        font-size: 3vw;
    }

    #footer-films {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-socials {
        padding-top: 5%;
    }

    .icon {
        max-width: 5vw;
        max-height: 5vw;
    }

    .filmList a {
        font-size: 6vw;
    }
}

/* до 1024рх */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .main-header-content a {
        font-size: 6vw;
    }

    .main-header-content {
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 10vw;
    }

    .popup-close-btn {
        font-size: 5vw;
        right: 2%;
        top: 0%;
    }

    .slider-next,
    .slider-prev {
        font-size: 8vw;
    }

    .slider-prev{
        left: 4%;
    }
}

/* до 1200рх */
@media (min-width: 769px) and (max-width: 1200px) {

    .header_content a,
    .main-header-content a {
        font-size: 3vw;
    }

    .main-text {
        font-size: 3vw;
    }

    .synopsis {
        font-size: 4vw;
    }

    .quote-text {
        font-size: 3.5vw;
    }

    .popup-close-btn {
        font-size: 4vw;
        right: 3%;
        top: 0%;
    }

    .slider-next,
    .slider-prev {
        font-size: 6vw;
    }

    .slider-prev{
        left: 3%;
    }

    .footer-item a {
        font-size: 2vw;
    }

    .icon {
        max-width: 3vw;
        max-height: 3vw;
    }
}

/* когда экран больше 769рх отключаю бургер-меню */
@media (min-width:769px) or (orientation: landscape) {
    .burger-btn {
        display: none;
    }

    .burger-bg.active {
        visibility: hidden;
        opacity: 0;
    }
}

/* когда экран становится меньше 768рх прячу контент хедера */
@media (max-width:768px) and (orientation: portrait) {
    .header_content {
        margin-top: 5%;
        z-index: 2;
        opacity: 0;
        visibility: hidden;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}